@charset "UTF-8";

@import "vendor/normalize";
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #f9f9f9;
  color: #24292e;
}

/* Navbar */

$primaryColor: #f9f9f9;

.navbar {
  &__container {
    display: block;
    background-color: $primaryColor;
    padding: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  }

  &__flex {
    position: relative;
    min-height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    flex: 1 1 50%;
  }

  &__hamburger {
    display: inline-block;
    width: 30px;
    height: 20px;
    background: $primaryColor url("/assets/img/logo.png") no-repeat;
    background-size: contain;
    margin-right: 15px;
    vertical-align: middle;
  }

  &__toggler {
    display: none;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;

    li {
      position: relative;
      display: inline-block;

      &:not(:last-child) {
        a {
          padding: 0 15px;
        }
      }

      &:last-child {
        a {
          padding: 0 0 0 15px;
        }
      }
      a {
        display: block;
        color: #c0c7da;
        text-decoration: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        transition: color 200ms linear;
        will-change: color;

        &:hover,
        &:hover {
          color: #c3073f;
        }
      }
    }
  }

  &__hamberger {
    /*display: none;*/
    display: inline-block;
    width: 13px;
    height: 13px;
    background: $primaryColor
      url("https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/hamburger_icon_o7uviz.svg")
      no-repeat;
    background-size: contain;
    vertical-align: middle;
  }

  &__toggler__label {
    display: none;
    font-family: inherit;
    font-size: 16px;
    color: white;
    text-align: right;
    user-select: none;
    cursor: pointer;
  }

  &__toggler__input {
    appearance: none;
  }
}

@media screen and (max-width: 870px) {
  .navbar {
    &__flex {
      display: block;
      padding: 15px 0;
    }

    &__left {
      margin-bottom: 15px;
    }

    &__links {
      float: none;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 400px;
      margin: 0 auto;

      li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .navbar {
    &__hamburger {
      display: block;
      margin: 0 auto 15px;
    }

    &__toggler__label {
      position: relative;
      display: block;
    }

    &__toggler__input {
      display: block;
      &:checked + .navbar__links {
        display: flex;
      }
    }

    &__links {
      display: none;
      flex-direction: column;

      li {
        a {
          padding: 10px 10px 10px 0 !important;
        }
      }
    }
  }
}

/* User Templates */

#pdfviewer canvas {
  width: 100% !important;
  object-fit: fill !important;
}

/* Global */

#access {
  display: table;
  width: 100%;
  height: 100vh;
}

.login {
  display: table-cell;
  vertical-align: middle;
}

.header {
  text-align: center;

  h1 {
    color: #24292e;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
}

.signin-modal {
  width: 330px;
  margin: 0 auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}

.signin-modal label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.signin-modal input {
  width: 100%;
  margin: 5px 0 15px;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
}

.btn-primary:hover {
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #28be4b, #1a8833 90%);
  font-weight: bold;
}

.create-account {
  width: 330px;
  margin: 17px auto 0;
  border: 1px solid #ddd;
  color: #0b0b0b;
  text-align: center;
}

/* We can remove the border we've set at the beginnig */
#gjs {
  border: none;
}
/* Grapesjs Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #000;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: #c3073f;
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #161614;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #fff;
}

.gjs-category-title,
.gjs-sm-sector .gjs-sm-title,
.gjs-clm-tags .gjs-sm-title,
.gjs-block-category .gjs-title,
.gjs-layer-title {
  color: white;
  font-weight: bold;
}

/* 404 Not Found */

#notfound,
#loading {
  background: #c3073f;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}

#notfound .c,
#loading .c {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 100px auto;
}

#notfound ._404,
#loading .loading-text {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
}

#notfound ._1,
#loading ._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

#notfound ._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}

#notfound .text {
  font-size: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
  /* top: 256.301px; */
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}

#notfound .notfound-btn {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  color: #c3073f;
  text-decoration: none;
  margin-right: 10px;
}

#notfound .right {
  float: right;
  width: 60%;
}

#notfound hr,
#loading hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0px auto;
  width: 420px;
  height: 10px;
  z-index: -10;
}

#notfound hr:after,
#loading hr:after {
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 0.2em;
  background: #c3073f;
}
